# Data Cleaning with Python (Part 3)

In this topic, we will learn about: 
1. **Feature Engineering**
2. **Data Integration**

These are two critical steps in preparing data for analysis and modeling. Feature engineering transforms raw data into meaningful features, while data integration combines data from multiple sources, enhancing the dataset’s depth and scope.

### Import Libraries and Load Data

First, we need to import the necessary libraries and load our dataset that was cleaned in Part 1. Pandas is the primary library we’ll use to manipulate our data.

In [2]:
# Importing the Pandas library
import pandas as pd

# Loading the dataset
df = pd.read_csv('cleaned_data_3.csv')

# Displaying the first few rows of the dataset
df.head()

,CustomerID,TransactionID,Transaction Date,Product Name,Product Category,Quantity,Price Per Unit,Payment Method,Customer Age,Total Amount
0,CUST041,TXN0001,2023-12-14,Tablet,Electronics,9.0,229.78,Debit Card,34.0,2068.02
1,CUST008,TXN0002,2023-12-02,Tablet,Electronics,4.0,443.23,Debit Card,39.0,1772.92
2,CUST002,TXN0003,2023-12-01,Smartphone,Electronics,4.0,221.94,Cash,34.0,887.76
3,CUST048,TXN0004,2023-08-07,Monitor,Electronics,9.0,226.87,Debit Card,47.0,2041.83
4,CUST018,TXN0005,2023-06-27,Laptop,Electronics,1.0,169.77,Debit Card,71.0,169.77

## 1. Feature Engineering

Feature engineering is the process of creating new features from existing data, which can help improve the quality and relevance of data for modeling and analysis.

### a) Extracting Year, Month, and Day from Transaction Date

Extracting `Year`, `Month`, and `Day` from a date column can help reveal patterns over time, such as seasonal trends or monthly cycles. This breakdown allows for detailed analysis of yearly trends, monthly fluctuations, and daily patterns, providing insights into time-based behaviors.

In [3]:
#First we need to ensure that the Transaction date is in datetime format.
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'], errors='coerce')

In [4]:
# Extract year, month, and day
df['Year'] = df['Transaction Date'].dt.year
df['Month'] = df['Transaction Date'].dt.month
df['Day'] = df['Transaction Date'].dt.day

In [5]:
df.columns

Index(['CustomerID', 'TransactionID', 'Transaction Date', 'Product Name',
       'Product Category', 'Quantity', 'Price Per Unit', 'Payment Method',
       'Customer Age', 'Total Amount', 'Year', 'Month', 'Day'],
      dtype='object')

### b) Creating a Loyalty Points per Transaction Feature

The `Loyalty Points per Transaction` feature is a simple way to measure customer loyalty by assigning points based on customer spending in each transaction. This feature can be used to develop loyalty programs or identify high-value customers.

- **Assign Loyalty Points per Transaction** based on the `Total Amount` (e.g., 1 point for every $10 spent).

In [6]:
# Define points conversion rate
points_rate = 10  # 1 point for every $10 spent

# Calculate loyalty points by dividing Total Amount by points_rate
df['Loyalty Points'] = df['Total Amount'] / points_rate

# Convert loyalty points to an integer value (rounding down)
df['Loyalty Points'] = df['Loyalty Points'].astype(int)

# Display the DataFrame with the new Loyalty Points feature
df

,CustomerID,TransactionID,Transaction Date,Product Name,Product Category,Quantity,Price Per Unit,Payment Method,Customer Age,Total Amount,Year,Month,Day,Loyalty Points
0,CUST041,TXN0001,2023-12-14,Tablet,Electronics,9.0,229.78,Debit Card,34.0,2068.02,2023,12,14,206
1,CUST008,TXN0002,2023-12-02,Tablet,Electronics,4.0,443.23,Debit Card,39.0,1772.92,2023,12,2,177
2,CUST002,TXN0003,2023-12-01,Smartphone,Electronics,4.0,221.94,Cash,34.0,887.76,2023,12,1,88
3,CUST048,TXN0004,2023-08-07,Monitor,Electronics,9.0,226.87,Debit Card,47.0,2041.83,2023,8,7,204
4,CUST018,TXN0005,2023-06-27,Laptop,Electronics,1.0,169.77,Debit Card,71.0,169.77,2023,6,27,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,CUST010,TXN0196,2023-12-21,Tablet,Electronics,5.0,164.50,Cash,25.0,822.50,2023,12,21,82
196,CUST024,TXN0197,2023-09-30,Headphones,Electronics,6.0,260.11,Debit Card,52.0,1560.66,2023,9,30,156
197,CUST049,TXN0198,2023-12-03,Keyboard,Electronics,3.0,211.03,Debit Card,63.0,633.09,2023,12,3,63
198,CUST011,TXN0199,2023-03-28,Monitor,Electronics,7.0,61.26,Debit Card,71.0,428.82,2023,3,28,42
199,CUST035,TXN0200,2023-03-01,Laptop,Electronics,5.0,370.29,Credit Card,70.0,1851.45,2023,3,1,185

For analysis purposes, these loyalty points can be grouped by `Customer ID` to find the **total loyalty points per customer**. This allows businesses to assess customer loyalty on an individual level, identifying high-value customers based on their accumulated points across multiple transactions.

## 2. Data Integration

Data integration combines datasets from multiple sources to provide a more comprehensive view. This is useful for enriching our data with additional information and enabling deeper analysis.

### Merging Datasets

To integrate data, we can use `pd.merge()` to join datasets on a common column (e.g., `Customer ID`). This method aligns rows from each dataset based on the values in the specified column, allowing us to combine related data.

### Load the second dataset

In [7]:
# Loading the dataset
df2 = pd.read_csv('../inputs/datasets/raw/Customer_Demographics.xls')

# Displaying the first few rows of the dataset
df2

   CustomerID         City
0     CUST041     New York
1     CUST008     New York
2     CUST002      Houston
3     CUST048      Houston
4     CUST018  Los Angeles
5     CUST016     New York
6     CUST015     New York
7     CUST009      Houston
8     CUST007  Los Angeles
9     CUST044  Los Angeles
10    CUST035     New York
11    CUST006     New York
12    CUST038      Chicago
13    CUST028  Los Angeles
14    CUST003  Los Angeles
15    CUST014      Houston
16    CUST033  Los Angeles
17    CUST039  Los Angeles
18    CUST036     New York
19    CUST013      Houston
20    CUST046      Houston
21    CUST042     New York
22    CUST045      Houston
23    CUST027      Chicago
24    CUST029     New York
25    CUST001  Los Angeles
26    CUST049     New York
27    CUST011     New York
28    CUST022      Chicago
29    CUST010      Chicago
30    CUST025  Los Angeles
31    CUST023  Los Angeles
32    CUST017      Chicago
33    CUST047      Chicago
34    CUST030      Chicago
35    CUST019     New York
36    CUST040      Chicago
37    CUST024     New York
38    CUST037      Houston
39    CUST005      Chicago
40    CUST043  Los Angeles
41    CUST050  Los Angeles
42    CUST021  Los Angeles
43    CUST004      Chicago
44    CUST026      Chicago
45    CUST032     New York
46    CUST034  Los Angeles
47    CUST012  Los Angeles
48    CUST020  Los Angeles

In [13]:
df_combined = pd.merge(df, df2, on='CustomerID', how='outer')
df_combined.head(50)

,CustomerID,TransactionID,Transaction Date,Product Name,Product Category,Quantity,Price Per Unit,Payment Method,Customer Age,Total Amount,Year,Month,Day,Loyalty Points,City
0,CUST001,TXN0036,2023-01-08,Smartphone,Electronics,4.0,30.82,Cash,42.0,123.28,2023,1,8,12,Los Angeles
1,CUST001,TXN0165,2023-11-27,Laptop,Electronics,1.0,492.42,Debit Card,56.0,492.42,2023,11,27,49,Los Angeles
2,CUST001,TXN0181,2023-01-14,Monitor,Electronics,3.0,346.20,Cash,55.0,1038.60,2023,1,14,103,Los Angeles
3,CUST002,TXN0003,2023-12-01,Smartphone,Electronics,4.0,221.94,Cash,34.0,887.76,2023,12,1,88,Houston
4,CUST002,TXN0018,2023-02-15,Smartphone,Electronics,5.0,160.90,Cash,23.0,804.50,2023,2,15,80,Houston
5,CUST002,TXN0024,2023-12-18,Laptop,Electronics,9.0,34.54,Credit Card,20.0,310.86,2023,12,18,31,Houston
6,CUST003,TXN0017,2023-07-13,Desk Chair,Furniture,6.0,280.59,Credit Card,78.0,1683.54,2023,7,13,168,Los Angeles
7,CUST003,TXN0055,2023-02-04,Sofa,Furniture,3.0,265.21,Credit Card,50.0,795.63,2023,2,4,79,Los Angeles
8,CUST003,TXN0071,2023-06-18,Keyboard,Electronics,8.0,59.78,Debit Card,63.0,478.24,2023,6,18,47,Los Angeles
9,CUST003,TXN0114,2023-05-27,Monitor,Electronics,1.0,475.18,Cash,21.0,475.18,2023,5,27,47,Los Angeles
10,CUST004,TXN0112,2023-01-25,Smartphone,Electronics,4.0,258.62,Credit Card,31.0,1034.48,2023,1,25,103,Chicago
11,CUST004,TXN0149,2023-09-01,Sofa,Furniture,1.0,285.59,Debit Card,75.0,285.59,2023,9,1,28,Chicago
12,CUST005,TXN0070,2023-03-08,Monitor,Electronics,8.0,123.56,Debit Card,49.0,988.48,2023,3,8,98,Chicago
13,CUST005,TXN0093,2023-09-11,Laptop,Electronics,2.0,316.69,Cash,30.0,633.38,2023,9,11,63,Chicago
14,CUST005,TXN0118,2023-01-15,Headphones,Electronics,9.0,386.80,Cash,66.0,3481.20,2023,1,15,348,Chicago
15,CUST005,TXN0157,2023-02-26,Tablet,Electronics,5.0,328.64,Cash,58.0,1643.20,2023,2,26,164,Chicago
16,CUST006,TXN0014,2023-09-24,Headphones,Electronics,8.0,367.20,Credit Card,22.0,2937.60,2023,9,24,293,New York
17,CUST006,TXN0019,2023-08-29,Tablet,Electronics,4.0,112.82,Debit Card,74.0,451.28,2023,8,29,45,New York
18,CUST006,TXN0048,2023-07-16,Desk Chair,Furniture,6.0,317.37,Debit Card,58.0,1904.22,2023,7,16,190,New York
19,CUST006,TXN0061,2023-08-26,Desk Chair,Furniture,1.0,269.78,Cash,50.0,269.78,2023,8,26,26,New York
20,CUST006,TXN0076,2023-02-05,Smartphone,Electronics,8.0,179.54,Cash,21.0,1436.32,2023,2,5,143,New York
21,CUST006,TXN0147,2023-10-21,Headphones,Electronics,2.0,430.00,Debit Card,36.0,860.00,2023,10,21,86,New York
22,CUST007,TXN0010,2023-03-29,Monitor,Electronics,2.0,407.35,Debit Card,42.0,814.70,2023,3,29,81,Los Angeles
23,CUST007,TXN0047,2023-06-26,Desk Chair,Furniture,6.0,379.27,Credit Card,23.0,2275.62,2023,6,26,227,Los Angeles
24,CUST007,TXN0050,2023-11-18,Keyboard,Electronics,4.0,432.31,Debit Card,79.0,1729.24,2023,11,18,172,Los Angeles
25,CUST007,TXN0078,2023-07-16,Laptop,Electronics,7.0,316.45,Cash,21.0,2215.15,2023,7,16,221,Los Angeles
26,CUST007,TXN0189,2023-01-15,Tablet,Electronics,9.0,34.53,Debit Card,20.0,310.77,2023,1,15,31,Los Angeles
27,CUST008,TXN0002,2023-12-02,Tablet,Electronics,4.0,443.23,Debit Card,39.0,1772.92,2023,12,2,177,New York
28,CUST008,TXN0059,2023-11-11,Smartphone,Electronics,8.0,100.87,Debit Card,46.0,806.96,2023,11,11,80,New York
29,CUST008,TXN0150,2023-07-21,Table,Electronics,1.0,335.94,Debit Card,43.0,335.94,2023,7,21,33,New York
30,CUST008,TXN0168,2023-10-29,Monitor,Electronics,2.0,34.78,Debit Card,34.0,69.56,2023,10,29,6,New York
31,CUST008,TXN0176,2023-07-24,Keyboard,Electronics,8.0,48.48,Debit Card,65.0,387.84,2023,7,24,38,New York
32,CUST009,TXN0008,2023-12-25,Desk Chair,Furniture,2.0,466.06,Cash,60.0,932.12,2023,12,25,93,Houston
33,CUST009,TXN0131,2023-12-07,Tablet,Electronics,5.0,481.74,Credit Card,70.0,2408.70,2023,12,7,240,Houston
34,CUST009,TXN0144,2023-07-17,Tablet,Electronics,1.0,490.18,Credit Card,78.0,490.18,2023,7,17,49,Houston
35,CUST010,TXN0043,2023-01-12,Desk Chair,Furniture,4.0,228.82,Debit Card,71.0,915.28,2023,1,12,91,Chicago
36,CUST010,TXN0129,2023-06-16,Smartphone,Electronics,5.0,398.39,Cash,57.0,1991.95,2023,6,16,199,Chicago
37,CUST010,TXN0151,2023-12-06,Headphones,Electronics,9.0,431.16,Debit Card,55.0,3880.44,2023,12,6,388,Chicago
38,CUST010,TXN0196,2023-12-21,Tablet,Electronics,5.0,164.50,Cash,25.0,822.50,2023,12,21,82,Chicago
39,CUST011,TXN0038,2023-08-03,Laptop,Electronics,2.0,65.95,Credit Card,63.0,131.90,2023,8,3,13,New York
40,CUST011,TXN0084,2023-06-25,Keyboard,Electronics,5.0,169.50,Credit Card,60.0,847.50,2023,6,25,84,New York
41,CUST011,TXN0096,2023-08-29,Keyboard,Electronics,1.0,310.57,Debit Card,30.0,310.57,2023,8,29,31,New York
42,CUST011,TXN0100,2023-01-22,Laptop,Electronics,6.0,233.39,Credit Card,24.0,1400.34,2023,1,22,140,New York
43,CUST011,TXN0153,2023-11-16,Keyboard,Electronics,5.0,465.57,Debit Card,62.0,2327.85,2023,11,16,232,New York
44,CUST011,TXN0179,2023-09-09,Headphones,Electronics,5.0,281.92,Credit Card,19.0,1409.60,2023,9,9,140,New York
45,CUST011,TXN0199,2023-03-28,Monitor,Electronics,7.0,61.26,Debit Card,71.0,428.82,2023,3,28,42,New York
46,CUST012,TXN0187,2023-12-06,Laptop,Electronics,6.0,38.08,Credit Card,32.0,228.48,2023,12,6,22,Los Angeles
47,CUST013,TXN0026,2023-10-02,Desk Chair,Furniture,9.0,496.24,Cash,21.0,4466.16,2023,10,2,446,Houston
48,CUST013,TXN0068,2023-07-15,Tablet,Electronics,2.0,439.35,Cash,36.0,878.70,2023,7,15,87,Houston
49,CUST013,TXN0195,2023-11-15,Smartphone,Electronics,4.0,174.91,Credit Card,72.0,699.64,2023,11,15,69,Houston

### Explanation:

`pd.merge()` joins two DataFrames (`df` and `df2`) based on the common column `Customer ID`.

The `how` parameter determines the type of join, and it has the following options:

- `how='inner'`: Only includes rows with matching values in both datasets (default behavior).
- `how='left'`: Keeps all rows from the left DataFrame (`df`), filling in `NaN` for missing values from the right DataFrame (`df2`).
- `how='right'`: Keeps all rows from the right DataFrame (`df2`), filling in `NaN` for missing values from the left DataFrame (`df`).
- `how='outer'`: Includes all rows from both DataFrames, filling in `NaN` for any missing values.

Using these options, you can tailor the merge to fit your data needs and create a unified dataset for analysis.

In [14]:
MYdf1 = pd.DataFrame({
  'name': ['John', 'Jane', 'Jim'],
  'age': [28, 34, 29],
    'city': ['New York', 'Los Angeles', 'Chicago']
})

MYdf2 = pd.DataFrame({
  'name': ['Abert', 'Benny', 'Carlos','John', 'Jane', 'Jim'],
  'age': [22, 33, 49,28, 34, 29],
    'city': ['York', 'Newport', 'Coventry','New York', 'Los Angeles', 'Chicago']
})

In [15]:
MYdf3 = pd.merge(MYdf1,MYdf2, how='outer', on='name')
MYdf3

     name  age_x       city_x  age_y       city_y
0   Abert    NaN          NaN     22         York
1   Benny    NaN          NaN     33      Newport
2  Carlos    NaN          NaN     49     Coventry
3    Jane   34.0  Los Angeles     34  Los Angeles
4     Jim   29.0      Chicago     29      Chicago
5    John   28.0     New York     28     New York

In [16]:
MYdf2

     name  age         city
0   Abert   22         York
1   Benny   33      Newport
2  Carlos   49     Coventry
3    John   28     New York
4    Jane   34  Los Angeles
5     Jim   29      Chicago

### Conclusion

Data integration and feature engineering are crucial steps in preparing data for analysis. By merging datasets, we gain a complete view that uncovers insights hidden in isolated sources. Feature engineering allows us to transform variables and interpretability. Together, these techniques improve data quality and set the foundation for impactful, data-driven decisions.